{% extends './base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0">
                <div class="card-body p-5">
                    <h3 class="text-center mb-4">Login</h3>

                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" name="username" class="form-control" placeholder="Mobile Number" required>
                            <label>Mobile Number</label>
                        </div>

                        <div class="form-floating mb-4">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                            <label>Password</label>
                        </div>
                        <div class="text-center mt-3">
                            Don't have an account? <a href="{% url 'register' %}">Forget Password</a>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Login</button>
                        <div class="text-center mt-3">
                            Don't have an account? <a href="{% url 'register' %}">Forget Password</a>
                        </div>
                        <div class="text-center mt-3">
                            Don't have an account? <a href="{% url 'register' %}">Register here</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
